[Unit]
Description="Control server for touch-mouse"
After=graphical.target
Requires=graphical.target

[Service]
User=requin
Group=requin
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/requin/.Xauthority"
StandardOutput=file:/home/requin/logs/touch-mouse.stdout
StandardError=file:/home/requin/logs/touch-mouse.stderr
ExecStart=/home/requin/rqn/cp_server

[Install]
WantedBy=graphical.target

