[Unit]
Description="LC Launcher"
After=graphical.target
Requires=graphical.target

[Service]
User=requin
Group=requin
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/requin/.Xauthority"
StandardOutput=file:/home/requin/logs/lc-launcher.stdout
StandardError=file:/home/requin/logs/lc-launcher.stderr
ExecStart=/usr/bin/python3 /home/requin/rqn/launcher.py

[Install]
WantedBy=graphical.target

